* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}
  
body{margin: 0;}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab {
  position: relative;
}

form {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.weather {
  width: 600px;
  height: 435px;
  border: none;
  display: block;
  margin: 100px auto;
  border: 1px solid #000000;
  background: #A3D0C3;}


.weather input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: none;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}


.buttonSearch {
  position: absolute; 
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  cursor: pointer;
}


.buttonSearch:before {
  font-family: FontAwesome;
  font-size: 16px;

}


.tabs__item {
  padding-top: 12px;
  width: 99px;
  height: 43px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border-right: 1px solid #000000;
  background: #A3D0C3;
  cursor: pointer;
}

.tabs__item:hover {
  background-color: #7BA7AB;
 
}

.weather__block {
  min-width: 297px;
  height: 345px;
  border-right: 1px solid #000000;
  display: none;
}
.weather__block:before {
  content: "";
  height: 44px;
  width: 99px;
  position: absolute;
  top: 345px;
}
.weather__block:nth-child(2) {
  position: absolute;
  top: 0;
  height: 345.5px;
}
.weather__block:nth-child(3) {
  position: absolute;
  top: 0;
}
.weather__block:target {
  display: block;
}
.weather__block-temp {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 82px;
  color: #000000;
  padding-top: px;
  margin-left: 23px;
}
.weather__block-icon {
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-left: 112px;
}
.weather__block-content {
  margin-top: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.weather__block-content-like {
  width: 22px;
  height: 22px;
  margin-right: 26px;
  cursor: pointer;
}
.weather__block-content-city {
  margin-left: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.weather__location {
  min-width: 300px;
  height: 390px;
}
.weather__location-add {
  height: 68.5px;
  border-bottom: 1px solid #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-top: 33.5px;
  padding-left: 18px;
}
.weather__location-save {
  padding-top: 10px;
  padding-left: 18px;
  overflow-y: auto;
  max-height: 324px;
  list-style-type: none;
}

.weather__location-save::-webkit-scrollbar {
  width: 8px;
}

.weather__location-save::-webkit-scrollbar-thumb {
  background-color: #7BA7AB; /* Цвет полосы прокрутки */
  border-radius: 4px;
}

.weather__location-save .list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.weather__location-save .list__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #000000;
}
.weather__details-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-top: 33px;
  padding-left: 18px;
}
.weather__details .list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 42px;
  padding-left: 18px;
}
.weather__details .list__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #000000;
}

.list__item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

.list__item-remove {
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff5c5c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: auto;
  margin-right: 15px;
}

.list__item-remove:hover {
  background-color: #e04b4b;
  /* transform: scale(1.05); */
}


.weather__forecast {
  height: 388.5px;
  overflow: hidden;
}
.weather__forecast-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-top: 33px;
  padding-left: 18px;
}
.weather__forecast-block {
  margin: 7px auto 0 auto;
  width: 265px;
  height: 120px;
  border: 1px solid #000000;
}
.weather__forecast-block .block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding: 6px 12px 0 12px;
}
.weather__forecast-block .block__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 38px 12px 0 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.weather__forecast-block .block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px 0 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.weather__forecast {
  max-height: 345px;
  overflow-y: auto;
  padding-right: 10px;
}

.weather__forecast::-webkit-scrollbar {
  width: 8px;
}

.weather__forecast::-webkit-scrollbar-thumb {
  background-color: #7BA7AB;
  border-radius: 4px;
}



.tabs {
  width: 296px;
  height: 45px;
  border-top: 1px solid #000000;
  margin-top: 14px;
  position: relative;
}
.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 345px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.tabs__item {
  padding-top: 12px;
  width: 39.3mm;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border-right: 1px solid #000000;
}

#tab_01:target ~ .tabs__items > a[href="#tab_01"],
#tab_02:target ~ .tabs__items > a[href="#tab_02"],
#tab_03:target ~ .tabs__items > a[href="#tab_03"] {
  color: white;
  background: #7BA7AB;
}

#tab_01:not(:target) ~ .tabs__items a[href="#tab_01"],
#tab_02:not(:target) ~ .tabs__items a[href="#tab_02"],
#tab_03:not(:target) ~ .tabs__items a[href="#tab_03"] {
  background: #A3D0C3;
}

